{% extends 'base.html' %}
{% block title %}
    Главная
{% endblock %}
{% block content %}
<h1 class="text-center">Все файлы наших пользователей</h1>
    <div class="row">
     {% for file in files %}
        {% include 'partial/file_card.html' %}
    {% endfor %}
    </div>
    {% if is_paginated %}
  <ul class="pagination">
    {% if page_obj.has_previous %}
      <li class="page-item"><a href="?page={{ page_obj.previous_page_number }}" class="page-link">Назад</a></li>
    {% else %}
      <li class="page-item"><span class="page-link">Назад</span></li>
    {% endif %}
    {% for i in paginator.page_range %}
      {% if page_obj.number == i %}
        <li class="active page-item"><span class="page-link">{{ i }} <span class="sr-only">(current)</span></span></li>
      {% else %}
        <li class="page-item"><a href="?page={{ i }}" class="page-link">{{ i }}</a></li>
      {% endif %}
    {% endfor %}
    {% if page_obj.has_next %}
      <li class="page-item"><a href="?page={{ page_obj.next_page_number }}" class="page-link">Вперёд</a></li>
    {% else %}
      <li class="page-link disabled"><span class="page-item" tabindex="-1">Вперёд</span></li>
    {% endif %}
  </ul>
{% endif %}
{% endblock %}