{% extends 'base.html' %}

{% block content %}
    <div class="row">
    <div class="col-6 ml-auto mt-3 pr-0">
        <h3 class="text-center">Поисковик</h3>
        <form action="{% url 'webapp:search' %}" method="get" class="ml-auto col-12">
        <label for="{{ search_form.name.id_for_label }}">{{ search_form.name.label }}:</label>
        {{ search_form.name }}
        <input type="submit" value="Найти" class="btn btn-primary">
        {% for error in form.search.errors %}
            <p class="form-error">{{ error }}</p>
        {% endfor %}
        </form>
    </div>
    </div>
    <h1 class="text-center">Результаты поиска</h1>
    {% if files %}
        <div class="row">
        {% for file in files %}
            {% include 'partial/file_card.html' %}
        {% endfor %}
        </div>
        {% if is_paginated %}
            {% include 'partial/pagination.html' %}
        {% endif %}
    {% else %}
        <p class="text-center">Ничего не найдено, попробуйте еще раз</p>
    {% endif %}
{% endblock %}