{% extends 'base.html' %}
{% block title %}
    Профиль пользователя {{ user }}
{% endblock %}
{% block content %}
    <h1 class="text-center">Профиль пользователя {{ user }}</h1>
    {% if files %}
        <h3 class="text-center mt-5">Файлы загруженные пользователем</h3>
        <div class="row">
        {% for file in files %}
        {% include 'partial/file_card.html' %}

        {% endfor %}
        </div>
        {% if is_paginated %}
            {% include 'partial/pagination.html' %}
        {% endif %}
    {% else %}
        <h3 class="text-center mt-5">Пользователь еще не загрузил файлов</h3>
    {% endif %}
{% endblock %}